// showing default values
$accentColor = #41b990
$decorationColor = #e85454
$textColor = #282c34
$textColorLighter = lighten(#2c3e50, 50%)
$borderColor = #eaecef
$codeBgColor = #433e56
$readMoreBgColor= #F1F6F5
$footerBgColor = #f6f6f6
$contentBgColor= #ffffff
$activeColor = #716799
$containerBgColor = #f0f6f9

// code
$lineNumbersWrapperWidth = 3rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py


// header
$heroHeight = 60vh
$navHeight = 17vh