.container
  background-color: $containerBgColor
  padding: 1px 0 4em 0

.page
  display: flex
  margin-top: -20vh

.page > .content
  background-color: white
  min-height: 50vh
  padding: 3em;
  position relative
.page-left
  flex: 1
.page-right
  flex: 1
  background-color: white

.content 
  width: 65%;

  &__default
    img
      max-width 100%

.content.nav
  margin: 0 auto;
  a
    color: white;
  a:hover
    text-decoration none;


