// showing default values
$accentColor = #D9B611
$textColor = #282c34
$textColorLighter = lighten(#2c3e50, 50%)
$borderColor = #eaecef
$codeBgColor = #282c34
$readMoreBgColor= #F1F6F5
$footerBgColor = #f6f6f6

// layout
$navbarHeight = 0
$sidebarWidth = 20rem
$contentWidth = 1000px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py